@page
@model Pokédex.Pages.Kanto.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pokémon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pokémon.ID" />
            <div class="form-group">
                <label asp-for="Pokémon.DexNumber" class="control-label"></label>
                <input asp-for="Pokémon.DexNumber" class="form-control" />
                <span asp-validation-for="Pokémon.DexNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokémon.Name" class="control-label"></label>
                <input asp-for="Pokémon.Name" class="form-control" />
                <span asp-validation-for="Pokémon.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokémon.Type1" class="control-label"></label>
                <input asp-for="Pokémon.Type1" class="form-control" />
                <span asp-validation-for="Pokémon.Type1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokémon.Type2" class="control-label"></label>
                <input asp-for="Pokémon.Type2" class="form-control" />
                <span asp-validation-for="Pokémon.Type2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokémon.RedBlue" class="control-label"></label>
                <input asp-for="Pokémon.RedBlue" class="form-control" />
                <span asp-validation-for="Pokémon.RedBlue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokémon.HP" class="control-label"></label>
                <input asp-for="Pokémon.HP" class="form-control" />
                <span asp-validation-for="Pokémon.HP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokémon.Attack" class="control-label"></label>
                <input asp-for="Pokémon.Attack" class="form-control" />
                <span asp-validation-for="Pokémon.Attack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokémon.Defense" class="control-label"></label>
                <input asp-for="Pokémon.Defense" class="form-control" />
                <span asp-validation-for="Pokémon.Defense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokémon.SpecialAttack" class="control-label"></label>
                <input asp-for="Pokémon.SpecialAttack" class="form-control" />
                <span asp-validation-for="Pokémon.SpecialAttack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokémon.SpecialDefense" class="control-label"></label>
                <input asp-for="Pokémon.SpecialDefense" class="form-control" />
                <span asp-validation-for="Pokémon.SpecialDefense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokémon.Speed" class="control-label"></label>
                <input asp-for="Pokémon.Speed" class="form-control" />
                <span asp-validation-for="Pokémon.Speed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pokémon.Total" class="control-label"></label>
                <input asp-for="Pokémon.Total" class="form-control" />
                <span asp-validation-for="Pokémon.Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
